@keyframes bassVolumeSlide {
  0%,
  100% {
    height: 0%;
  }

  30%,
  80% {
    height: 100%;
  }
}

@keyframes vocalsVolumeSlide {
  0%,
  20%,
  100% {
    height: 0%;
  }

  40%,
  70% {
    height: 100%;
  }
}

@keyframes otherVolumeSlide {
  0%,
  30%,
  100% {
    height: 0%;
  }

  50%,
  60% {
    height: 100%;
  }
}

/* TODO: Scale down for smaller screens */
.track-volume-container {
  position: relative;
  display: flex;
  border-radius: 28px;
  background: #ffffff33;
  height: 190px;
  width: 100px;
  text-align: center;
  overflow: hidden;

  .track-volume {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background: var(--color-tertiary-transparent);
    z-index: -1;

    &:not(.drums) {
      animation: 6s ease-in-out infinite;
    }

    &.drums {
      height: 100%;
    }

    &.bass {
      animation-name: bassVolumeSlide;
    }

    &.vocals {
      animation-name: vocalsVolumeSlide;
    }

    &.other {
      animation-name: otherVolumeSlide;
    }
  }

  span {
    width: 100%;
    height: max-content;
    align-self: flex-end;
    margin-bottom: 0.8rem;
    text-shadow: 0 0 8px #00000080;
    font-size: 1.3rem;
  }
}