@import url("./global.css");
@import url("./elements/trackVolume.css");

main {
  scroll-snap-type: y mandatory;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    flex-shrink: 0;
    width: 100%;
    height: calc(100vh - var(--nav-height));
    padding: 0 var(--spacing-section-side);
    box-sizing: border-box;
    overflow: hidden;
  }

  section.welcome {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .hero-title {
      font-size: 4.9rem;
      margin: 0;
      width: 700px;
      max-width: 94vw;
      text-align: left;
      padding-bottom: 0.5rem;
      text-shadow: 0 0 24px rgba(0, 0, 0, .8);
      transition: 0.2s ease-out;
    }

    .track-volumes-illustration .track-volumes-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
      width: 100%;
      height: 100%;

      .track-volume-container {
        height: 300px;
        width: 150px;
        border-radius: 38px;

        span {
          font-size: 1.8rem;
          margin-bottom: 1.5rem;
        }

        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(6),
        &:nth-child(8) {
          transform: translateY(180px);
        }
      }
    }

    .learn-more-link {
      position: absolute;
      bottom: var(--spacing-base);
      text-decoration: none;

      p,
      svg {
        animation: 3.5s infinite ease-in-out;
      }
      
      p {
        font-size: 1.5rem;
        font-weight: 600;
        font-variation-settings: 'wght' 600, 'wdth' 125;
        margin: 0;
        animation-name: learnMoreText;
      }

      svg {
        height: 20px;
        margin-top: 0.5rem;
        animation-name: learnMoreIcon;
      }
    }
  }

  section.text {
    position: relative;
    text-align: left;
    gap: 2rem;

    h2 {
      width: 100%;
      font-size: 2.5rem;
      font-weight: 600;
      font-variation-settings: 'wght' 600, 'wdth' 125;
    }

    p {
      font-size: 1.8rem;
      font-weight: 400;
      margin: 0;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      height: 140%;
      width: auto;
      pointer-events: none;
    }
  }

  section.contact {
    h2 {
      font-size: 2.5rem;
      font-weight: 700;
      font-variation-settings: 'wght' 700, 'wdth' 150;
    }

    ul {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-medium);
      padding: 0;
      list-style: none;

      .contact-bubble {
        max-width: 258px;

        p {
          margin: var(--spacing-base) 0 0 0;
        }

        img {
          width: 100%;
          height: auto;
          object-fit: contain;
        }
      }
    }
  }
}

/* Convert volume sliders to background element */
@media (max-width: 1120px) {
  section.welcome {
    flex-direction: column;
    justify-content: center;

    .hero-title {
      font-size: 3.5rem !important;
      width: 90% !important;
      text-align: center !important;
    }

    .track-volumes-illustration {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -30%);
      max-width: calc(100% - var(--spacing-base) * 2);
      width: 500px;
      height: calc(100% - var(--spacing-base) * 2);
      opacity: 0.2;
      pointer-events: none;
      z-index: -1;

      .track-volumes-container {
        justify-items: center;
        gap: 2rem !important;
      }
    }
  }
}

@media (max-width: 750px) {
  section.text {
    h2 {
      font-size: 2rem !important;
    }

    p {
      font-size: 1.2rem !important;
    }

    .icon {
      height: 90%;
    }
  }
}

/* Scale down welcome hero title */
@media (max-width: 570px) {
  section.welcome {
    .hero-title {
      font-size: 2.2rem !important;
      width: 90% !important;
      text-align: center !important;
    }
  }
}

/* Decrease section side padding, welcome hero title font size, center track volumes
   illustration, and make track volume containers scale responsively */
@media (max-width: 400px) {
  :root {
    --spacing-section-side: 1rem;
  }

  section.welcome {
    .hero-title {
      word-break: break-word;
      font-size: 1.6rem !important;
    }

    .track-volumes-illustration {
      right: 50%;
      transform: translate(50%, -30%);

      .track-volumes-container {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .track-volume-container {
          height: auto !important;
          width: calc(50% - var(--spacing-base)) !important;
          border-radius: 4vh !important;
          aspect-ratio: 1 / 2;
        }
      }
    }
  }
}