@import url("./global.css");

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  section {
    text-align: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: var(--spacing-base);

    p {
      margin: 0;
    }

    p:not(:last-child) {
      margin-bottom: var(--spacing-base);
    }
  }

  section.title {
    height: max-content;

    .hero-title {
      font-size: 3rem;
      font-weight: 700;
      font-variation-settings: 'wght' 700, 'wdth' 125;
      margin: 0;
      width: 600px;
      max-width: 90vw;
      padding-bottom: 0.5rem;
      text-shadow: 0 0 24px rgba(0, 0, 0, .8);
      transition: 0.2s ease-out;
    }
  }

  section.content {
    text-align: left;

    .header {
      font-size: 2.2rem;
      font-weight: 600;
      font-variation-settings: 'wght' 700, 'wdth' 140;
      margin-bottom: var(--spacing-base);
    }

    p:not(.header) {
      font-size: 1.2rem;
      font-weight: 400;
      font-variation-settings: 'wght' 400, 'wdth' 125;
    }
  }
}

@media (max-width: 600px) {
  main {
    section.title {
      .hero-title {
        font-size: 2.5rem;
        width: 350px;
      }
    }
  }
}
