@import url("./global.css");

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 50vh;
    max-height: 800px;
  }

  section.title {
    h1 {
      z-index: 2;
      font-size: 4rem;
      margin: 0;
      width: 600px;
      max-width: 90vw;
      padding-bottom: 0.5rem;
      text-shadow: 0 0 24px rgba(0, 0, 0, .8);
      transition: 0.2s ease-out;
    }
  }
}

@media (max-width: 600px) {
  main {
    section.title {
      h1 {
        font-size: 2.5rem;
        width: 350px;
      }
    }
  }
}