/* Logo font */
@font-face {
  font-family: 'SF Pro Expanded';
  src: url('../fonts/SF-Pro.ttf') format('truetype');
  font-style: normal;
  font-weight: 100 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

:root {
  --color-primary: #f3f3f3;
  --color-secondary: #c3c3c3;
  --color-tertiary: #9f9f9f;
  --color-tertiary-dark: #7a7a7a;
  --color-tertiary-transparent: #b5b5b5af;
  --color-background: #222222;
  --color-background-transparent: #222222b7;
  --color-background-light: #252525;
  --color-background-light-transparent: #5a5a5ab7;
  --color-background-dark: #131313;
  --color-text: #ffffff;
  --color-text-muted: #b5b5b5;
  --color-text-link: #1e90ff;
  --logo-text-color-gradient: linear-gradient(to bottom, var(--color-text), var(--color-secondary));
  --logo-text-color-dark-gradient: linear-gradient(to bottom, var(--color-tertiary), var(--color-tertiary-dark));
  --logo-text-color-light-gradient: linear-gradient(to bottom, var(--color-text), var(--color-muted));
  --font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  --font-logo: 'SF Pro Expanded', sans-serif;
  --font-size-base: 16px;
  --spacing-base: 1rem;
}

body {
  background-color: var(--color-background-dark);
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  scrollbar-color: var(--color-secondary) var(--color-background);
  scrollbar-gutter: stable;
  overflow: hidden scroll;
  margin: 0;
  width: 100vw;
  /* calc(100vw - (2 * var(--spacing-base))) */
  min-height: calc(100vh - (2 * var(--spacing-base)));
}

a {
  color: inherit;
}

.logo-font,
.logo-font-children *:is(h1, h2, h3, h4, h5, h6, p, a, li),
.logo-font-headers *:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-logo);
  font-weight: 600;
  font-stretch: expanded;
  font-variation-settings: 'wght' 600, 'wdth' 125;
  margin: 0;

  &.gradient {
    background: var(--logo-text-color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &.dark-color {
    color: var(--color-tertiary);
  }

  &.light-color {
    background: var(--logo-text-color-gradient);
    color: var(--color-text);
  }
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  box-sizing: border-box;
  padding: var(--spacing-base);
  background: #1D1D1D;

  img {
    height: 40px;
    width: auto;
    object-fit: contain;
  }

  section {
    display: flex;
    align-items: center;
    gap: var(--spacing-base);
  }

  .nav-brand-text {
    font-weight: 700;
    font-variation-settings: 'wght' 700, 'wdth' 125;
  }

  ul.nav-links {
    list-style: none;
    display: flex;
    gap: var(--spacing-base);
    margin: 0;
    padding: 0;

    li a {
      color: var(--color-text-muted);
      font-weight: 600;
      font-variation-settings: 'wght' 600, 'wdth' 125;
      text-decoration: underline 1.5px transparent;
      transition: 0.2s ease-out;

      &:hover,
      &.active,
      &:focus {
        color: var(--color-text);
      }

      &.active {
        font-weight: 700;
        font-variation-settings: 'wght' 700, 'wdth' 125;
      }

      &:hover,
      &:focus {
        text-decoration-color: var(--color-text);
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(76px + var(--spacing-base));
  /* Height of the nav */

  section.limit-width {
    max-width: 900px;
  }

  section.align-top {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  section.unlimited-height {
    height: auto;
    max-height: none;
  }
}

footer {
  position: relative;
  bottom: 0;
  width: calc(100vw - (2 * var(--spacing-base)));
  text-align: center;
  padding: var(--spacing-base);
  color: var(--color-text-muted);
  border-top: 2px solid linear-gradient(to right, var(--color-background), var(--color-secondary), var(--color-background));
  margin-top: var(--spacing-base);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 0.5rem;

  p,
  li,
  a {
    font-family: var(--font-logo);
    font-weight: 400;
    font-stretch: expanded;
    font-variation-settings: 'wght' 400, 'wdth' 125;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-base);

    li {
      a {
        text-decoration: underline 1.5px transparent;
        transition: 0.2s ease-out text-decoration-color;

        &:hover {
          text-decoration-color: var(--color-text-muted);
        }
      }
    }
  }
}

footer.logo-font-children :is(p, li, a) {
  font-weight: 400;
  font-variation-settings: 'wght' 400, 'wdth' 125;
}

@media (max-width: 550px) {
  .nav-brand-text {
    display: none;
  }
}
