@import url("./global.css");

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes card-load-flash {

  0%,
  100% {
    opacity: 0.03;
  }

  50% {
    opacity: 0.1;
  }
}

main {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 90vh;
    max-height: 800px;
  }

  section.welcome {
    h1 {
      z-index: 2;
      font-size: 4rem;
      margin: 0;
      width: 600px;
      max-width: 90vw;
      padding-bottom: 0.5rem;
      text-shadow: 0 0 24px rgba(0, 0, 0, .8);
      transition: 0.2s ease-out;
    }

    .animated-cards {
      display: flex;
      position: absolute;
      width: inherit;
      flex-direction: column;
      justify-content: left;
      gap: var(--spacing-base);
      height: inherit;
      max-height: inherit;
      overflow: hidden;
      opacity: .2;

      .card-row {
        display: flex;
        flex-direction: row;
        align-content: center;
        height: 30%;
        pointer-events: none;
        /* Animation is setup in home.js */

        img {
          position: absolute;
          height: 200px;
          width: auto;
          object-fit: contain;
          user-select: none;

          &:not(.loaded) {
            background: rgb(255, 255, 255);
            border-radius: 48px;
            width: 619px;
            text-align: center;
            opacity: 0.03;
            animation: card-load-flash 1s infinite ease-out;
          }

          &.loaded {
            animation: fadeIn 0.5s ease-out;
            opacity: 1;
          }
        }
      }
    }
  }

  section.split {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-base);
    flex-wrap: wrap;

    .screenshot {
      border-radius: 16px;
      box-shadow: 0 0 12px rgba(0, 0, 0, .8);
      aspect-ratio: 4/7.5;
      object-fit: cover;
      width: 300px;
    }
  }
}

@media (max-width: 600px) {
  main {
    section.welcome {
      h1 {
        font-size: 2.5rem;
        width: 350px;
      }
    }
  }
}